<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Christopher Nolan Fan Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="home-header">
      <h1>Christopher Nolan</h1>
    </div>
    <div id="home-content">
      <div id="home-logo">
        <img src="/images/Home-Page.png" alt="Christopher Nolan Portrait" />
      </div>
      <div id="home-sidebar">
        <ul id="home-links">
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/photo-gallery">Gallery</a></li>
        </ul>
      </div>
    </div>
    <div id="home-footer">
      &copy; 2023 Christopher Nolan Fan Page. All rights reserved.
    </div>
  </body>
</html>
