<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="works-header">
      <h1>
        Directed by <br />
        Christopher Nolan
      </h1>
    </div>
    <div id="section1">
      <h2>Upcoming!<br /> <a href="https://www.imdb.com/title/tt15398776/?ref_=rlm"
        >Click Here For More Info</a
      >
      </h2>
      
      <img src="/images/upcoming.jpg" alt="Upcoming Movie Poster" />
    </div>

    <div id="section2">
      <h2>Known for:</h2>
      <div id="movies">
        <div class="movie-poster">
          <img src="/images/works-1.jpg" alt="Movie Poster 1" />
        </div>
        <div class="movie-poster">
          <img src="/images/works-2.jpg" alt="Movie Poster 2" />
        </div>
        <div class="movie-poster">
          <img src="/images/works-3.jpg" alt="Movie Poster 3" />
        </div>
        <div class="movie-poster">
          <img src="/images/works-4.jpg" alt="Movie Poster 4" />
        </div>
      </div>
    </div>
    <button id="btn"><a href="/home">Back</a></button>
    <div id="about-footer">
      &copy; 2023 Christopher Nolan Fan Page. All rights reserved
    </div>
  </body>
</html>
